<p id="notice"><%= notice %></p>

<p>
  <strong>Total amount:</strong>
  <%= @quote.total_amount %>
</p>

<p>
  <strong>Order:</strong>
  <%= @quote.order %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
