<%= form_for(@customer) do |f| %>
  <%= render "shared/error_messages", :target => @customer %>

	<%#<%= f.fields_for :contact do |builder| %>
<%#<%= render :partial => "#{@customer.current_step}_step", :locals => {:f => f } %>
<h2> Company information </h2>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :couty, "Provence/State/County" %><br>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br>
    <%= f.text_field :post_code %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
    <div class="field">
    <%= f.label :company_email %><br>
    <%= f.text_field :company_email %>
  </div>

  <div class="actions">
    <%= f.submit "continue" %>
  </div>
    <% end %>
  <%# <div class="actions">
    <%= f.submit "Back", :name => "previous_button" %>
 <%# </div> %>
